import %workspace%/preset.bazelrc

common --write_command_log

build --verbose_failures

# TODO(llvm-libc): need to undef _FORTIFY_SOURCE because glibc's fortified headers wrap some functions in inline overloads with internal linkage, which it then tries to export from a module
# Disable layering_check (activated by preset.bazelrc) since it uses Clang modules, which are disabled when cpp_modules is enabled
build \
    --cxxopt=-U_FORTIFY_SOURCE \
    --experimental_cpp_modules \
    --features=-layering_check \
    --features=cpp_modules

build \
    --copt=-fvisibility=hidden \
    --cxxopt=-fvisibility-inlines-hidden

# TODO: https://github.com/bazel-contrib/toolchains_llvm/issues/592
build --conlyopt=-std=c23

build --linkopt=-Wl,-fatal-warnings

build --per_file_copt=^src/.*@\
-Wall,\
-Wcast-align,\
-Wconversion,\
-Wdouble-promotion,\
-Werror,\
-Wextra,\
-Wformat=2,\
-Wimplicit-fallthrough,\
-Wnull-dereference,\
-Wpedantic,\
-Wnon-virtual-dtor,\
-Wold-style-cast

# TODO: external deps that are consumed through headers can generate warnings that the above glob doesn't silence, because they're compiled as part of a TU in src
build --features=external_include_paths

build:default_sanitizers \
    --copt=-fno-sanitize-merge \
    --features=asan \
    --features=lsan

build:dbg \
    --compilation_mode=dbg \
    --config=default_sanitizers \
    --copt=-Og \
    --copt=-fno-omit-frame-pointer \
    --copt=-glldb \
    --cxxopt=-gmodules

# WARNING: technically -march=native breaks hermeticity
build:opt \
    --compilation_mode=opt \
    --copt=-O3 \
    --copt=-march=native

# TODO: --features=thin_lto broken for some reason
build:lto \
    --config=opt \
    --features=lto

# Should be combined with --config=opt or --config=lto
build:profile \
    --copt=-pg

build --@quill//:disable_non_prefixed_macros
