Checks:
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-reference-coroutine-parameters,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  google-explicit-constructor,
  modernize-*,
  performance-*,
  readability-*,
  readability-identifier-naming,
  -readability-avoid-return-with-void-value,
  -readability-identifier-length,
  -readability-math-missing-parentheses,
  -readability-named-parameter,
  -readability-redundant-member-init,
  -readability-static-accessed-through-instance,
  -readability-static-in-anonymous-namespace,

CheckOptions:
  cppcoreguidelines-special-member-functions.AllowImplicitlyDeletedCopyOrMove: true
  cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted: true
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true

  modernize-use-trailing-return-type.TransformLambdas: none

  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ConceptCase: CamelCase
  readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.MethodCase: lower_case
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypeAliasIgnoredRegexp: &type_alias_ignored_regexp "^(.*_type|.*_iterator|.*_pointer|.*_reference|absl_.*)$"
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.TypedefIgnoredRegexp: *type_alias_ignored_regexp
  readability-identifier-naming.ValueTemplateParameterCase: UPPER_CASE
  readability-identifier-naming.VariableCase: lower_case

  readability-inconsistent-declaration-parameter-name.Strict: true
